#wrapper {
	width:1000px;
	margin: 0 auto;
	position: relative;
	
}
/**banner CSS begin**/
#nsa-header {
position: relative;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2f27s7));
background: -webkit-linear-gradient(top, #284266, #1a82f7);
background: -moz-linear-gradient(top, #284266, #1a82f7);
background: -ms-linear-gradient(top, #284266, #1a82f7);
background: -o-linear-gradient(top, #284266, #1a82f7);
top: 90px;
height: 150px;
width: 1000px;
-moz-border-radius:		20px 0px 20px 20px;
-webkit-border-radius:	20px 0px 20px 20px;
border-radius:			20px 0px 20px 20px;
}

#nsa-header:before {
content:'';
position: absolute;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2f27s7));
background: -webkit-linear-gradient(top, #2f2727, #284266);
background: -moz-linear-gradient(top, #2f2727, #284266);
background: -ms-linear-gradient(top, #2f2727, #284266);
background: -o-linear-gradient(top, #2f2727, #284266);
 right: 0px;
 top: -80px;
 height: 80px;
 width: 250px;
 -moz-border-radius:    150px 150px 0px 0px;
 -webkit-border-radius: 150px 150px 0px 0px;
 border-radius:         150px 150px 0px 0px;

}

#bear {
 position:absolute;
 right: 20px;
 top: -50px;
}
/**banner CSS end**/

/**content CSS begin**/
#content {
	position: absolute;
	top: 240px;
}

#left-side-menu {
	/*position: relative;*/
	position:absolute;
	float:left;
	width:120px;

}


.main-content {
	width:860px;
	height: 600px;
	left:123px;
	padding: 5px;
	margin:3px;
	border-style:solid;
	position: relative;
	border-radius:20px;
}



#left-side-menu ul > li {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2f27s7));
background: -webkit-linear-gradient(top, #2f2727, #1a82f7);
background: -moz-linear-gradient(top, #2f2727, #1a82f7);
background: -ms-linear-gradient(top, #2f2727, #1a82f7);
background: -o-linear-gradient(top, #2f2727, #1a82f7);
}

#left-side-menu ul {
margin:0px;
padding:0px;
}

#left-side-menu ul li {
color:#ffffff;
text-align:center;
border-radius:15%;
display:block;
list-style:none;
height:120px;
width:120px;
border:2px solid;
margin:0px;
padding:0px;
}

#left-side-menu a {
	text-decoration: none;
	display: block;
	height: 120px;
	width: 120px;
}

.StudentContentButton {
	width: 100px;
	height: 100px;
	border: 2px solid;
	border-radius: 15%;
	}

#left-side-menu a:link {color:#ffffff;}      /* unvisited link */
#left-side-menu a:visited {color:#ffffff;}  /* visited link */
#left-side-menu a:hover {color:#E9F60C;}  /* mouse over link */
#left-side-menu a:active {color:#0000FF;}  /* selected link */
/**content CSS end**/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}